<%
bestsellerProducts.forEach(product => {
    var {name, price, sale, images, _id} = product
    var whitePrice = price
    var secondaryPrice = null
    if (sale) {
        whitePrice = sale
        secondaryPrice = price
    }
    %>
<div class="col-md-6 col-lg-4 p-2">
    <a href="/detail/<%=_id%>">
        <div class="bg-dark p-3"><img class="w-100" src="<%=setting.storeUri + images[0]%>">
            <div class="productBasis">
                <p class="text-center p-0 m-0 text-myColor priceArea">
                    <%=name%></p>
                <h6 class="text-center text-white">
                    <%=formatMoney(whitePrice,0)%>
                </h6>
                <%if (secondaryPrice) {%>
                <h6 class="text-center text-secondary oldPrice">
                    <%=formatMoney(secondaryPrice,0)%></h6>
                <%}%>
            </div>
        </div>
    </a>
</div>
<%
})
%>