<div class="bg-dark simple-slider">
    <h5 class="text-uppercase text-center m-0 text-myColor pt-4 pb-3">sản phẩm mới về</h5>
    <div class="swiper-container h-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide h-100">
                <div class="text-center px-2 py-0 mb-4">
                    <div class="row p-0 m-0">
                        <%
                                        for (var i = 0; i < 3; i++ ) {
                                            var {name, price, sale, images, _id} = newProducts[i]
                                            var whitePrice = price
                                            var secondaryPrice = null
                                            if (sale) {
                                                whitePrice = sale
                                                secondaryPrice = price
                                            }
                                        %>
                        <div class="col-md-6 col-lg-4 p-2">
                            <a href="/detail/<%=_id%>">
                                <div class="bg-dark p-3"><img class="w-100" src="<%=setting.storeUri + images[0]%>">
                                    <div class="productBasis">
                                        <p class="text-center p-0 m-0 text-myColor priceArea">
                                            <%=name%></p>
                                        <h6 class="text-center text-white">
                                            <%=formatMoney(whitePrice,0)%>
                                        </h6>
                                        <h6 class="text-center text-secondary oldPrice">
                                            <%=formatMoney(secondaryPrice,0)%></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <%}%>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide h-100">
                    <div class="text-center px-2 py-0 mb-4">
                        <div class="row p-0 m-0">
                            <%
                                        for (var i = 3; i < 6; i++ ) {
                                            var {name, price, sale, images, _id} = newProducts[i]
                                            var whitePrice = price
                                            var secondaryPrice = null
                                            if (sale) {
                                                whitePrice = sale
                                                secondaryPrice = price
                                            }
                                        %>
                        <div class="col-md-6 col-lg-4 p-2">
                            <a href="/detail/<%=_id%>">
                                <div class="bg-dark p-3"><img class="w-100" src="<%=setting.storeUri + images[0]%>">
                                    <div class="productBasis">
                                        <p class="text-center p-0 m-0 text-myColor priceArea">
                                            <%=name%></p>
                                        <h6 class="text-center text-white">
                                            <%=formatMoney(whitePrice,0)%>
                                        </h6>
                                        <h6 class="text-center text-secondary oldPrice">
                                            <%=formatMoney(secondaryPrice,0)%></h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <%}%>

                        </div>
                    </div>
                </div>


            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>