<!DOCTYPE html>
<html>
<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>
<% include ../partials/head %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="row w-100">
                                                <div
                                                    class="col-sm-12 col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center">
                                                    <img class="img-thumbnail" src="<%=product.images[0]%>"
                                                        style="max-height: 300px;"></div>
                                                <div class="col d-flex align-items-center">
                                                    <div>
                                                        <a href="#">
                                                            <h5 class="text-dark font-weight-bold m-0">
                                                                <strong><%=product.name%></strong><br></h5>
                                                        </a>
                                                        <p class="text-success mb-0"><%=formatMoney(product.price,0)%>
                                                        </p>
                                                        <p class="mb-0"><%=formatMoney(product.sale,0)%></p>
                                                        <div class="row">
                                                            <%product.images.forEach(image => {%>
                                                            <div class="col-4 m-0 p-0"><img class="w-100"
                                                                    src="<%=image%>">
                                                            </div>
                                                            <%})%>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateName/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light"
                                                        type="text" placeholder="Tên Sản Phẩm"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updatePrice/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light moneyFormat"
                                                        type="number" placeholder="Giá"
                                                        style="background-color: rgb(255,255,255);" name="price">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateSale/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light"
                                                        type="number" placeholder="Giá Ưu Đãi"
                                                        style="background-color: rgb(255,255,255);" name="sale">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateImage/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input type="file" name="upload"
                                                        required="required" class="form-control border-0 small py-auto"
                                                        multiple="multiple">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary font-weight-bold m-0">Mô tả sản phẩm</h6><button
                                                class="btn btn-primary btn-sm" type="button"><i
                                                    class="fa fa-save"></i>&nbsp;Lưu</button>
                                        </div>
                                        <div class="card-body"></div>
                                    </div>
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary font-weight-bold m-0">Hướng dẫn sử dụng</h6><button
                                                class="btn btn-primary btn-sm" type="button"><i
                                                    class="fa fa-save"></i>&nbsp;Lưu</button>
                                        </div>
                                        <div class="card-body"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary font-weight-bold m-0">Chi tiết sản phẩm</h6><button
                                                class="btn btn-primary btn-sm" type="button"><i
                                                    class="fa fa-save"></i>&nbsp;Lưu</button>
                                        </div>
                                        <div class="card-body"></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <form class="d-none d-sm-inline-block mr-auto" style="width: 100%;"
                                                enctype="multipart/form-data"
                                                action="/ad/saveAttribute/<%=product._id%>/taste" method="post">
                                                <div class="input-group"><input
                                                        class="bg-light form-control form-control-sm border-0 small bg-white"
                                                        type="text" placeholder="Mùi"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i class="fas fa-plus"></i>&nbsp;Thêm</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <%attributes.forEach(attr => {
                                                if (attr.name == 'taste') {
                                                    %>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-8">
                                                            <h6 class="mb-0"><strong><%=attr.content%></strong></h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox"><input
                                                                    class="custom-control-input" type="checkbox"
                                                                    id="taste-<%=attr.content%>"><label
                                                                    class="custom-control-label"
                                                                    for="taste-<%=attr.content%>"></label></div>
                                                        </div>
                                                        <div class="col-2"><a class="text-danger"
                                                                href="/ad/removeAttribute/<%=product._id%>/<%=attr._id%>"><i
                                                                    class="fa fa-trash-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%
                                                }
                                            })%>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <form class="d-none d-sm-inline-block mr-auto" style="width: 100%;"
                                                method="post" enctype="multipart/form-data"
                                                action="/ad/saveAttribute/<%=product._id%>/brand">
                                                <div class="input-group"><input
                                                        class="bg-light form-control border-0 small bg-white"
                                                        type="text" placeholder="Thương hiệu"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i class="fas fa-plus"></i>&nbsp;Thêm</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <%attributes.forEach(attr => {
                                                    if (attr.name == 'brand') {
                                                        %>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-8">
                                                            <h6 class="mb-0"><strong><%=attr.content%></strong></h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox"><input
                                                                    class="custom-control-input" type="checkbox"
                                                                    id="brand-<%=attr.content%>"><label
                                                                    class="custom-control-label"
                                                                    for="brand-<%=attr.content%>"></label></div>
                                                        </div>
                                                        <div class="col-2"><a class="text-danger"
                                                                href="/ad/removeAttribute/<%=product._id%>/<%=attr._id%>"><i
                                                                    class="fa fa-trash-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%
                                                    }
                                                })%>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <form class="d-none d-sm-inline-block mr-auto" style="width: 100%;"
                                                required="required" method="post" enctype="multipart/form-data"
                                                action="/ad/saveAttribute/<%=product._id%>/function">
                                                <div class="input-group"><input
                                                        class="bg-light form-control form-control-sm border-0 small bg-white"
                                                        type="text" placeholder="Chức năng"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i class="fas fa-plus"></i>&nbsp;Thêm</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <%attributes.forEach(attr => {
                                                    if (attr.name == 'function') {
                                                        %>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-8">
                                                            <h6 class="mb-0"><strong><%=attr.content%></strong></h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox"><input
                                                                    class="custom-control-input" type="checkbox"
                                                                    id="function-<%=attr.content%>"><label
                                                                    class="custom-control-label"
                                                                    for="function-<%=attr.content%>"></label></div>
                                                        </div>
                                                        <div class="col-2"><a class="text-danger"
                                                                href="/ad/removeAttribute/<%=product._id%>/<%=attr._id%>"><i
                                                                    class="fa fa-trash-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%
                                                    }
                                                })%>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <form class="d-none d-sm-inline-block mr-auto" style="width: 100%;"
                                                required="required" method="post" enctype="multipart/form-data"
                                                action="/ad/saveAttribute/<%=product._id%>/category">
                                                <div class="input-group"><input
                                                        class="bg-light form-control form-control-sm border-0 small bg-white"
                                                        type="text" placeholder="Danh mục"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-plus"></i>&nbsp;Thêm&nbsp;</button></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <%attributes.forEach(attr => {
                                                    if (attr.name == 'category') {
                                                        %>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-8">
                                                            <h6 class="mb-0"><strong><%=attr.content%></strong></h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox"><input
                                                                    class="custom-control-input" type="checkbox"
                                                                    id="category-<%=attr.content%>"><label
                                                                    class="custom-control-label"
                                                                    for="category-<%=attr.content%>"></label></div>
                                                        </div>
                                                        <div class="col-2"><a class="text-danger"
                                                                href="/ad/removeAttribute/<%=product._id%>/<%=attr._id%>"><i
                                                                    class="fa fa-trash-o"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%
                                                    }
                                                })%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Loa Loa Media 2019</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>