<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>

                <div class="container">
                    <div class="row">
                        <div class="col mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="row w-100">
                                                <div
                                                    class="col-sm-12 col-md-6 d-xl-flex justify-content-xl-center align-items-xl-center">
                                                    <%
                                                    var uri = ''
                                                    var name = ''
                                                    var price = 0
                                                    var sale = 0
                                                    if (product) {
                                                        uri = setting.storeUri + product.images[0]
                                                        name = product.name
                                                        price = formatMoney(product.price,0)
                                                        sale = formatMoney(product.sale,0)
                                                    }
                                                    %>
                                                    <img class="img-thumbnail" src="<%=uri%>"
                                                        style="max-height: 300px;"></div>
                                                <div class="col d-flex align-items-center">
                                                    <div>
                                                        <a href="#">
                                                            <h5 class="text-dark font-weight-bold m-0">
                                                                <strong><%=name%></strong><br></h5>
                                                        </a>
                                                        <p class="text-success mb-0"><%=price%>
                                                        </p>
                                                        <p class="mb-0">
                                                            <%=sale%></p>
                                                        <div class="row">
                                                            <%if (product) product.images.forEach(image => {
                                                                var uri='/no-image.png'
                                                                if (image && image !=product.images[0])  {uri = setting.storeUri + image %>
                                                            <div class="col-4 m-0 p-0"><img class="w-100"
                                                                    src="<%=uri%>">
                                                            </div>
                                                            <%}})%>


                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateName/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light"
                                                        type="text" placeholder="Tên Sản Phẩm"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updatePrice/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light moneyFormat"
                                                        type="number" placeholder="Giá"
                                                        style="background-color: rgb(255,255,255);" name="price">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateSale/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input required="required"
                                                        class="bg-light form-control border-0 small bg-light"
                                                        type="number" placeholder="Giá Ưu Đãi"
                                                        style="background-color: rgb(255,255,255);" name="sale">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>

                                            <form class="d-none d-sm-inline-block mr-auto w-100 mb-3"
                                                enctype="multipart/form-data" action="/ad/updateImage/<%=product._id%>"
                                                method="post">
                                                <div class="input-group"><input type="file" name="upload"
                                                        required="required" class="form-control border-0 small py-auto"
                                                        multiple="multiple">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i
                                                                class="fas fa-cloud-upload-alt"></i>&nbsp;Cập
                                                            Nhật</button></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-12">
                                            <%
                                                    setting.product.informations.forEach(inf => {
                                                        %>
                                            <div class="mt-4">
                                                <h6 class="text-primary font-weight-bold m-0"><%=inf.content%>
                                                </h6>
                                                <hr />
                                                <%-productInformation[inf.name]%>
                                            </div>
                                            <%
                                                    })
                                                    %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col">
                                    <%
                                    setting.product.informations.forEach(inf => {
                                        %>
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary font-weight-bold m-0"><%=inf.content%></h6>
                                            <button class="btn btn-primary btn-sm btn-saveInf" type="button"
                                                name="<%=inf.name%>" pointId="<%=product._id%>"><i
                                                    class="fa fa-save"></i>&nbsp;Cập Nhật Bản Này</button>
                                        </div>
                                        <div class="card-body">
                                            <div class="inf" id="information-<%=inf.name%>" name="<%=inf.name%>">
                                            </div>
                                        </div>
                                    </div>
                                    <%
                                    })
                                    %>

                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-6">
                            <div class="row">
                                <%
                                setting.product.attributes.forEach(card => {
                                    %>
                                <div class="col-6">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <form class="d-none d-sm-inline-block mr-auto" style="width: 100%;"
                                                enctype="multipart/form-data"
                                                action="/ad/saveAttribute/<%=product._id%>/<%=card.name%>"
                                                method="post">
                                                <div class="input-group"><input
                                                        class="bg-light form-control form-control-sm border-0 small bg-white"
                                                        type="text" placeholder="<%=card.content%>"
                                                        style="background-color: rgb(255,255,255);" name="name">
                                                    <div class="input-group-append"><button class="btn btn-primary py-0"
                                                            type="submit"><i class="fas fa-plus"></i>&nbsp;Thêm</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-body">
                                            <%
                                                    attributes.forEach(attr => {
                                                        if (attr.name == card.name) {
                                                            var checked = ''
                                                            productAttributes.forEach(attribute => {
                                                                if (attribute.content == attr.content && attribute.name == card.name) checked = 'checked';
                                                            })
                                                            %>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col-8">
                                                            <h6 class="mb-0">
                                                                <strong><%=attr.content%></strong>
                                                            </h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="custom-control custom-checkbox">
                                                                <input class="custom-control-input" type="checkbox"
                                                                    id="<%=card.name%>-<%=attr.content%>"
                                                                    name="<%=attr.name%>" content="<%=attr.content%>"
                                                                    productid="<%=product._id%>" <%=checked%>>
                                                                <label class="custom-control-label"
                                                                    for="<%=card.name%>-<%=attr.content%>"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-2"><a class="text-danger"
                                                                href="/ad/removeAttribute/<%=product._id%>/<%=attr._id%>"><i
                                                                    class="fa fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}})%>
                                        </div>
                                    </div>
                                </div>
                                <%
                                })
                                %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer %>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>