<!DOCTYPE html>
<html>
<% include ../partials/head %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <%
                            setting.post.forEach(post => {
                                %>
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0"><%=post.title%></h6>

                                </div>
                                <div class="card-body">
                                    <%post.informations.forEach(inf => {
                                        %>
                                    <h6 class="text-primary font-weight-bold m-0"><%=inf.content%></h6>
                                    <%
                                    informations.forEach(infor => {
                                        if (infor.name == inf.name && infor.pointName == post.name) {
                                            %>
                                    <%-infor.html%>
                                    <%
                                        }
                                    })
                                    %>
                                    <button name="<%=inf.name+post.name%>" pointName="<%=post.name%>"
                                        infName="<%=inf.name%>" class="btn btn-primary btn-sm btn-savePostInf my-2"
                                        type="button"><i class="fa fa-save"></i>&nbsp;
                                        Tải Bản Này Lên</button>
                                    <div class="inf" id="information-<%=inf.name+post.name%>"
                                        name="<%=inf.name+post.name%>">
                                    </div>
                                    <%
                                    })%>

                                </div>
                            </div>
                            <%
                            })
                            %>

                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer%>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</body>

</html>