<!DOCTYPE html>
<html>
<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>
<% include ../partials/head %>

<body id="page-top">
    <div id="wrapper">
        <% include ../partials/nav %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../partials/navx.ejs %>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="card shadow my-2">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold">Danh Sách Sản Phẩm<br></p>
                                </div>
                                <div class="card-body" style="height:70vh; overflow-y: scroll" >
                                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                        aria-describedby="dataTable_info">
                                        <table class="table dataTable my-0" id="dataTable">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Hình</th>
                                                    <th class="text-center">Tên Sản Phẩm</th>
                                                    <th class="text-center">Giá</th>
                                                    <th class="text-center">Giá Ưu Đãi</th>
                                                    <th class="text-center"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%products.forEach(product => {%>
                                                <tr>
                                                    <td class="text-center"><img height="50px"
                                                            src="<%=setting.storeUri + product.images[0]%>" /></td>
                                                    <td><%=product.name%></td>
                                                    <td><%=formatMoney(product.price,0)%></td>
                                                    <td><%=formatMoney(product.sale,0)%></td>
                                                    <td>
                                                        <a href="/ad/detail/<%=product._id%>"><i
                                                                class="fa fa-pencil"></i></a>
                                                        <a class="text-danger ml-5"
                                                            href="/ad/removeProduct/<%=product._id%>"><i
                                                                class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                                <%})%>

                                            </tbody>

                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <nav
                                                class="d-lg-flex justify-content-lg-end justify-content-xl-center dataTables_paginate paging_simple_numbers">
                                                <ul class="pagination">
                                                    <li class="page-item disabled"><a class="page-link" href="#"
                                                            aria-label="Previous"><span aria-hidden="true">«</span></a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#"
                                                            aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="row">
                                <div class="col">
                                    <form method="POST" enctype="multipart/form-data" action="/ad/saveProduct">
                                        <div class="card shadow my-2">
                                            <div class="card-header d-flex justify-content-between align-items-center">
                                                <p class="m-0 font-weight-bold text-primary">Thêm Sản Phẩm</p>
                                                <div class="form-row">
                                                    <div class="col-auto"><button class="btn btn-primary btn-sm my-1"
                                                            type="submit"><i class="fa fa-save"></i>&nbsp;Lưu &amp; Tiếp
                                                            Tục</button></div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <input class="form-control form-control border-0 small bg-light mb-3"
                                                    required="required" type="text" placeholder="Tên sản phẩm"
                                                    name="name">
                                                <input class="form-control form-control border-0 small bg-light mb-3"
                                                    required="required" type="number" placeholder="Giá" name="price">
                                                <input class="form-control form-control border-0 small bg-light mb-3"
                                                    type="number" placeholder="Giá ưu đãi" name="sale">
                                                <p class="font-weight-bold text-primary">Chọn hình ảnh</p>
                                                <input type="file" name="upload" multiple="multiple"
                                                    required="required">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include ../partials/footer%>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</body>

</html>