<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>

<body class="text-white bg-dark" style="background-color: #343a40;">
    <% include ../partials/header %>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="row p-0 m-0">
                        <div class="col-6">
                            <%
                            var {name, price, sale, images, _id} = product
                            var whitePrice = price
                            var secondaryPrice = null
                            if (sale) {
                                whitePrice = sale
                                secondaryPrice = price
                            } 
                            %>
                            <img class="w-100 p-4" id="mainImage" src="<%=setting.storeUri + images[0]%>">
                            <hr>
                            <div class="row">
                                <%for (var i = 0; i < 3; i++) {  if (images[i]) {%>
                                <div class="col-4" data-bs-hover-animate="bounce"><img class="w-100 moreImage"
                                        src="<%=setting.storeUri + images[i]%>"></div>
                                <%}}%>

                            </div>
                            <hr>
                        </div>
                        <div class="col-6">
                            <div class="p-4">
                                <h1 class="text-myColor" id="detailName" name="<%=_id%>"><%=name%></h1>
                                <hr>
                                <h5><%=formatMoney(whitePrice, 0)%></h5>
                                <%if (secondaryPrice) {%>
                                <h5 class="text-secondary oldPrice"><%=formatMoney(secondaryPrice,0)%></h5>
                                <%}%>
                                <hr>
                                <div id="attributesArea">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12" id="informationsArea">
                            <!-- <h5 class="text-uppercase text-center m-0 text-myColor pt-4 pb-3">mô tả</h5> -->
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <% include ../partials/category %>
                                <% include ../partials/filter %>
                            </div>
                        </div>
                    </div>
    </main>
    <% include ../partials/footer %>

</body>

</html>